* {
  font-family: 'Lato', sans-serif;
}
#display {
  background-color: white;
  color: black;
  font-size: 55px;
  height: 100px;
  width: 335px;
  margin: 3px 3px 3px 3px;
  padding-top: 25px;
  padding-left: 10px;
  border: 3px solid black;
  border-radius: 10px;
}
/*
.digits {
  background-color: lightgrey;
  color: black;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.operators {
  background-color: black;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.button {
  background-color: darkgrey;
  color: black;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.button:hover {
  background-color: ;
  color: ;
}
*/
