.row1 {
  display: block;
  position: fixed;
}
.row2 {
  display: block;
  position: fixed;
  right: 100px;
}
.row3 {
  display: block;
  position: fixed;
  right: 200px;
}
.row4 {
  display: block;
  position: fixed;
  right: 300px;
}
