* {
  font-family: 'Lato', sans-serif;
}
#display {
  font-size: 45px;
}
.digits {
  background-color: gainsboro;
  color: black;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.operators {
  background-color: cadetblue;
  color: white;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.button {
  background-color: silver;
  color: black;
  font-size: 25px;
  text-align: center;
  width: 85px;
  padding: 15px 30px;
  border-radius: 10px;
}
.button:hover {
  background-color: ;
  color: ;
}
#digits0 {
  width: 170px;
}
